//Colors
$black: #110F12;
$white: #FAFBF9;
$accent-color: #A379BD;

//Fonts
$font-weights: (
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800
);

$roboto: "Roboto Mono", monospace;
$montserrat: "Montserrat", sans-serif;