h1 {
  color: var(--color-white);
}

span {
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(20px, 3vw, 32px);
  display: inline-block;
  padding-bottom: clamp(32px, 1.11vw + 28.44px, 48px);
}

.about-text {
  padding-bottom:clamp(48px, 2.22vw + 40.89px, 80px);
}

.btn {
  margin-bottom: (96px, calc(3.33vw + 85.33px), 144px);
}

figure {
  width: clamp(160px, calc(9.72vw + 128.89px), 300px);
  height: auto;
}

