*,
*::before, *::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-bottom: 0;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p, h1, h2, h3, h4 {
  overflow-wrap: break-word;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

:root {
  --color-black: #110F12;
  --color-white: #FAFBF9;
  --color-accent: #A379BD;
  --font-roboto: Roboto Mono, monospace;
  --font-montserrat: Montserrat, sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

body {
  line-height: 1.5;
  color: var(--color-black);
}

a {
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-decoration: none;
}

#about-me figure a {
  font-size: clamp(12px, 0.28vw + 11.11px, 16px);
  text-decoration: underline;
  color: var(--color-accent);
}
#about-me figure a:hover {
  color: var(--color-black);
}

p {
  font-family: var(--font-montserrat);
  font-weight: var(--fw-regular);
  font-size: clamp(14px, 1.5vw, 18px);
  margin-bottom: clamp(8px, 0.56vw + 6.22px, 16px);
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-family: var(--font-montserrat);
  font-weight: var(--fw-semi-bold);
  font-size: clamp(52px, 2vw, 72px);
}

h1 span {
  color: var(--color-accent);
  font-style: italic;
}

h2 {
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(24px, 4vw, 40px);
}

h3 {
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(20px, 3vw, 32px);
}

.availability-status {
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(14px, 1.8vw, 20px);
}

.large-text {
  font-family: var(--font-montserrat);
  font-weight: var(--fw-regular);
  font-size: clamp(16px, 2.5vw, 32px);
}

.section-title {
  font-family: var(--font-roboto);
  font-weight: var(--fw-medium);
  font-size: clamp(21px, 4vw, 40px);
}

.tags-title {
  font-family: var(--font-roboto);
  color: var(--color-accent);
  font-weight: var(--fw-medium);
  font-size: clamp(16px, 1.5vw, 20px);
}

.tags-text {
  font-family: var(--font-roboto);
}

footer h2 {
  font-size: clamp(28px, 4.5vw, 48px);
  color: var(--color-white);
}

footer p {
  color: var(--color-white);
  text-align: center;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
.container-fluid {
  padding-inline: 16px !important;
}
@media (min-width: 600px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl,
  .container-fluid {
    padding-inline: 32px !important;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl,
  .container-fluid {
    padding-inline: 200px !important;
  }
}
@media (min-width: 1600px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl,
  .container-fluid {
    max-width: 1128px !important;
    margin-inline: auto !important;
    padding-inline: 0 !important;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(163,121,189)' stroke-width='4' stroke-linecap='round' d='M4 5h22M4 15h22M4 25h22'/%3E%3C/svg%3E");
}

#offcanvasNavbar {
  padding-top: 16px;
}

#offcanvasNavbar button {
  width: 48px;
  height: auto;
}

.btn {
  font-family: var(--font-roboto);
  font-weight: var(--fw-semi-bold);
  font-size: clamp(16px, 1.8vw, 20px);
}
.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-black);
  border-width: 2px;
}
@media (min-width: 1200px) {
  .btn-primary {
    border-width: 4px;
  }
}

.btn-secondary {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-black);
  border-width: 2px;
}
.btn-secondary:hover {
  color: var(--color-accent);
  background-color: var(--color-white);
}
@media (min-width: 1200px) {
  .btn-secondary {
    border-width: 4px;
  }
}

.nav-link {
  font-family: var(--font-roboto);
  font-weight: var(--fw-regular);
  font-size: clamp(16px, 1.8vw, 20px);
}

.navbar {
  --bs-navbar-bg: var(--color-white);
  --bs-navbar-color: var(--color-black);
  --bs-navbar-hover-color: var(--color-accent);
  --bs-navbar-active-color: var(--color-accent);
  background-color: var(--bs-navbar-bg) !important;
}

.carousel-control-prev, .carousel-control-next {
  position: inherit;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px var(--color-white);
  border-radius: 16px;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 16px;
}

header {
  padding-top: 80px;
}

.navbar {
  border-bottom: 1px solid var(--color-black);
  height: clamp(80px, 70.857px + 2.857vw, 112px);
}

.logo-img {
  height: clamp(48px, 2.86vw + 38.86px, 80px);
}

body {
  background-color: var(--color-white);
}

.large-text, #contacts {
  text-align: center;
}

section, footer {
  padding-top: clamp(120px, 4.29vw + 82.5px, 216px);
  padding-bottom: clamp(96px, 4.29vw + 82.5px, 144px);
}

.section-title-container {
  padding-bottom: clamp(72px, 5.54vw + 54.29px, 120px);
}

.section-title {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.section-title::before {
  content: "";
  position: absolute;
  inset: -0.8em -0.8em;
  background-image: url("/assets/img/section_title_black.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.dark-section .section-title::before {
  background-image: url("/assets/img/section-title-white-bg.png");
}

.dark-section {
  background-color: var(--color-black);
}

footer {
  background-color: var(--color-black);
  padding-bottom: clamp(16px, 1.11vw + 12.44px, 32px);
}

footer h2 {
  padding-bottom: clamp(16px, 1.11vw + 12.44px, 32px);
}

.footer-text {
  padding-bottom: clamp(48px, 3.33vw + 37.33px, 96px);
}

img.icon {
  width: clamp(48px, 1.11vw + 44.44px, 64px);
  height: auto;
}

.copyright {
  margin-top: clamp(96px, 3.47vw + 84.89px, 146px);
  margin-bottom: clamp(16px, 1.11vw + 12.44px, 32px);
}/*# sourceMappingURL=style.css.map */